*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../imagens/imagem.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#titulo{
    font-family: sans-serif;
    color: #0666f7;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 10%;
    margin-top: 15%;
    
}

#sub{
    font-family: sans-serif;
    color: rgb(235, 24, 9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 13%;
    margin-top: 1%;
}


body{
    background-color: aliceblue;
    font-family: sans-serif;
    font-size: 1em;
    color: #0c08ee;
    margin-left: 36%;
    margin-top: 2%;
    justify-content: center;
}

.campo{
    margin-bottom: 1em;
}


button{
    border-radius: 5px;
}

.botao1 {
    font-size: 1.2em;
    background: #026e19;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao1:hover {
    background: #f37703;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao2{
    font-size: 1.2em;
    background: #026e19;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao2:hover {
    background: #f37703;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao3 {
    font-size: 1.2em;
    background: #026e19;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 60%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao3:hover {
    background: #f37703;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao4 {
    font-size: 1.2em;
    background: #026e19;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao4:hover {
    background: #f37703;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}

.botao5 {
    font-size: 1.2em;
    background: #026e19;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    position: absolute;
    top: 80%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.botao5:hover {
    background: #f37703;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: none;
}